@model Product

@{
    ViewData["Title"] = "Create Product";
    Layout = "_MemberLayout";
}

<form class="mt-4" asp-action="CreateProduct" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="MemberId" />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input type="text" class="form-control form-control-sm" asp-for="Title" placeholder="Enter Product Title">
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <label asp-for="Category">Category</label>
            <input type="text" class="form-control form-control-sm" asp-for="Category" placeholder="Enter Product Category">
            <span asp-validation-for="Category"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="StockInitOffer">Stock Offer</label>
            <input type="text" class="form-control form-control-sm" asp-for="StockInitOffer" placeholder="Enter Product Category">
            <span asp-validation-for="StockInitOffer"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="BuyPrice">Wholesale Price (&euro;)</label>
            <input type="text" class="form-control form-control-sm" asp-for="BuyPrice" placeholder="Enter Product Price">
        </div>
        <div class="col-md-3">
            <label asp-for="SalePrice">Retail Price (&euro;)</label>
            <input type="text" class="form-control form-control-sm disabled" asp-for="SalePrice" placeholder="Enter Product Price" disabled>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea class="description" asp-for="Description" placeholder="Enter Product Description"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription">Short Description</label>
        <textarea class="short-description" asp-for="ShortDescription" placeholder="Enter Product Short Description"></textarea>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img id="imagePreview" class="img-thumbnail img-fluid" src="@Model.ImageUrl" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Add Image</label>
        <input id="imageInput" type="file" class="form-control-file btn btn-sm d-block pl-0" asp-for="ImageFile">
    </div>
    <button type="submit" class="btn btn-primary mt-5 float-right">Create</button>
    <a class="btn btn-secondary mt-5 mr-2 float-right" asp-action="Index">Cancel</a>
    <div class="clearfix"></div>
</form>

